/* where styling is done */

.body {
  font-size: 10px;
}

.main {
  font-size: 10px;
  color: green;
}

.border: {
  color: black;
  font-size: 10px;
}

.section {
  color: blue;
  border-radius: 10px;
}

footer {
  color: grey;
  border-radius: 10px;
}
